.multi-feilds{
  display: flex;
  gap: 10px;
  width: 400px;
}

input{
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  outline-color: tomato;
}
.adjust{
  width: 400px;
}

.button-box{
  display: flex;
}

.button{
  width: 200px;
  margin: 10px;
}